<h1>Dashbord</h1>
<% @bundles.each do |bundle| %>
  <% product_1 = @products.select {|product| product.id == bundle.product_1_id.to_i } %>
  <% product_2 = @products.select {|product| product.id == bundle.product_2_id.to_i } %>
  <%= product_1[0].title %>
  <%= product_2[0].title %>
<% end %>
<br>
<%= link_to "New Bundle", new_bundle_path %>

