.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.Polaris-UserMenu-UserMenu__Name {
  margin-bottom: 0;
}

.Polaris-UserMenu-UserMenu__Detail {
  margin-bottom: 0;
}

.Polaris-TopBar-Menu__Activator {
margin-right: 3rem;
}
